# Ignore configuration files that may contain sensitive information.
www/sites/*/settings*.php

# Ignore paths that contain user-generated content.
www/sites/*/files
www/sites/*/private_files

node_modules/
.idea/
db/
*.iml
www/sites/all/modules/custom/statistics/service-account-credentials.json
